@charset "utf-8";

$max_width: 1180px;
$progress_bar_height: 20px;

/* HEADER section */
#global-navigation .user-dropdown-menu{
    line-height: 1;
}

#global-navigation .user-dropdown-menu:hover, 
#global-navigation .user-dropdown-menu:active, 
#global-navigation .user-dropdown-menu:focus {
    outline: 0;
}


/* HEADER section */
.container .home {
    max-width: $max_width;
}

/* COURSE TABS section */
body .wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
    margin: 0;
}


/* BOOKMARKS section */
div.info-wrapper section.handouts .action-show-bookmarks {
    margin-bottom: 15px;
}


/* CONTENT section */
.content-wrapper {
    max-width: $max_width;
}

#content .container {
    padding: 0;
}

#wiki-content .nav{
    display: block;
}


/* CONTENT xmodule */
body .xmodule_display.xmodule_CapaModule .problem .inputtype.option-input {
    margin-top: 0;
}


/* PROGRESS section */
.digit-b {
    font-size: 3.5em;
    line-height: 1;
    position: relative;
}

.digit-b-item {
    padding-left: 25%;
}

.digit-b-item-label {
    font-size: 0.35em;
    font-weight: bold;
    position: absolute;
    bottom:0;
    left: 5%;
}

.digit-b-pass {
    font-size: 0.55em;
    position: absolute;
    bottom:0;
    right: 0;    
}

#main-progress-bar-striped-version2{
    margin: 40px 0;
    position: relative;
    border: 1px solid black;    
}

#main-progress-bar-striped-version2 .progress {
    display: block;
}

#main-progress-bar-striped-version2 .legend{
    margin-bottom: 10px;
}

.progress-legend {
    margin-top: 7px;
}

.progress-bar-marker {
    height: $progress_bar_height;
    border-right: 2px solid black;
    position: absolute;    
}

#main-progress-bar-version2 {
    float: right;
    background-color: #f5f5f5;
    background-image: none;
    height: $progress_bar_height;
}

.progress.progress-striped {
    border-radius: 0px;
}

.grade-legend {
    display: inline-block;
    padding-left: 40px;
}

.grade-legend-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 2px;
    border: 1px solid grey;
}

.grade-bar .increments {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

.grade-bar .increments li {
    font-size: 9px;
    font-size: 0.9rem;
    position: absolute;
    top: -20px;
    width: 30px;
    margin-left: -15px;
    text-align: center;
}

$i: 0;
@while $i < 101 {
    .increment-#{$i} { left: 0% + $i; }
    $i: $i + 10;
}

#course-info-progress .chapters {
    border: none;
}

.chapter_item:first-child {
    border-top: 1px solid #ccc;
}

.chapter_item:last-child {
    border-bottom: none;
}

.chapter_item {
    color: #000;
    font-size: 1.4em;
    line-height: 1.5;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.chapter_score {
    float: right;
    width: 25%;
}

/* Toggle List */
/* SCSS Variables & Mixins */ 
.chapters {
    .chapter_item_box {
        margin-left: 1em;
        
        input[type="checkbox"] {
            display: none;
            &:checked {
                & + label {
                    &:after {
                            content: "\25BC";
                    }
                    & ~ div.chapter_score {
                            display: none;
                    }                    
                    & ~ div.sections {
                            display: block;
                    }
                }
            }
        }
        label {
            color: #a7a7a7;
            cursor: pointer;
            font-size: 0.85em;
            vertical-align: middle;
            webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:after {
                    content: "\25B6";
                    padding-left: 15px;
            }
        }
        div.sections {
            display: none;
            border-top: none;
        }
    }
}

.sections.progress_subsections {
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: normal;
}

.progress_subsection_name, .progress_subsection_result {
    display: inline-block;
    padding-left: 25px;
}

.progress_subsections .scores dl {
    margin-bottom: 0.4rem;
}

.progress_subsections .scores dd {
    display: inline-block;
    margin: 0;
    margin-right: 0px;
    margin-right: 20px;
    padding-right: 1em;
}


/* FOOTER styles */
.footer-content {
    max-width: $max_width;
    margin: 0 auto;
    width: 100%;
}