$header_height: 50px;
$header_border: solid 1px #e7e7e7;
$seq_arrow_width: 50px;
$seq_arrow_margin: $seq_arrow_width + 30px;

/* MAIN section */
html body {
    padding-top: $header_height;
}

/*body .container > div {
    border: none;
}

body .window-wrap {
    background-color: #fff;
}

body .content-wrapper .container {
    border: none;
}*/


/* Fixed menu */
#global-navigation.topheader-free {
    position: relative;
}

.course-material.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100% !important;
    background-color: #fff;
    border-bottom: $header_border;
    text-align: left;    
}


/* HEADER section */
#global-navigation {
    position: fixed;
    top: 0;
    border-bottom: $header_border;
    padding: 0;
    height: $header_height;
    width: 100%;
    line-height: 1.4;
    z-index: 10;
}

#global-navigation .wrapper-header {
    padding: 0;
    height: $header_height;
    line-height: $header_height;
}

#global-navigation .course-header-wrapper {
    display: table;
    height: $header_height;
}

#global-navigation .wrapper-header .course-header {
    float: none;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: auto;
    font-size: 0.75rem;
    line-height: 1.4;
}

#global-navigation .logo {
    margin: 0 10px 0 0;
}

#global-navigation .logo img {
    height: 40px;
    margin: 0;
}

#global-navigation .doc-link {
    display: none;
}


/* COURSE TABS section */
body #content .wrapper-course-material {
    padding: 10px 0 0 0;
}

body #content .wrapper-course-material .course-material {
    padding-top: 0;
    height: $header_height;
}

body .wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited {
    padding-top: 12px;
}

.progress.wrapper-course-material{
    background-color: white;
}

.wrapper-course-material .course-tabs li a:hover {
    color: #333;
}


/* CONTENT section */
/* course page styles */
#seq_content {
    margin: 0 $seq_arrow_margin;
}

.seq-arrow {
    width: $seq_arrow_width;
    height: $seq_arrow_width;
}
    
.seq-arrow .fa{
    color: #212b2b;
    font-size: 1.3rem;
}

.seq-arrow .arrow {
    z-index: 1500;
    position: fixed;
/*     top: 55%; */
    width: $seq_arrow_width;
    height: $seq_arrow_width;
}

.xblock.xmodule_display.xmodule_SequenceModule .sequence-nav ol li:first-child {
    border-left-style: solid;
}

.xblock.xmodule_display.xmodule_SequenceModule .sequence-nav ol li:last-child {
    border-right-style: solid;
}

body .course-wrapper .course-content .vert-mod .vert > .xblock-student_view, 
body .course-wrapper .courseware-results-wrapper .vert-mod .vert > .xblock-student_view {
    border-bottom: none;
}

.xmodule_display.xmodule_SequenceModule .seq-arrow .arrow .sequence-nav-button {
    background-color: inherit;
    border: none;
    width: $seq_arrow_width;
    min-width: $seq_arrow_width;
    padding: 0;
}

.xmodule_display.xmodule_SequenceModule .seq-arrow .arrow .sequence-nav-button:disabled {
    display: none;
}

.xmodule_display.xmodule_SequenceModule .seq-arrow .arrow .sequence-nav-button:hover {
    background-color: #f1f2f2;
    border-radius: 35px;
}

body .course-wrapper .course-content .vert-mod .vert > .xblock-student_view, 
body .course-wrapper .courseware-results-wrapper .vert-mod .vert > .xblock-student_view {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 0 15px;
}

/* FOOTER styles */
footer {
    width: 100% !important;
}

.wrapper-footer {
    border-top: 1px solid #eee;
}

.wrapper-footer .copyright {
    text-align: left;
    font-size: 0.6875rem;
    color: #111;
}

img.footer_banner {
    padding: 10px;
    height: 85px;
}
