<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %></%def>
<%!
import operator
from course_modes.models import CourseMode
from certificates.models import CertificateStatuses
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
from lms.djangoapps.grades.new.course_grade_factory import CourseGradeFactory
%>

<%
## getting course url
from openedx.features.course_experience import default_course_url_name
course_url_name = default_course_url_name(course.id)
course_url = reverse(course_url_name, kwargs={'course_id': unicode(course.id)})

## collect score, max score
score_proc = float("{:.3n}".format(100*grade_summary['percent']))
reverse_score_proc = 100 - score_proc
%>

<%block name="bodyclass">view-in-course view-progress</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>


<%namespace name="progress_graph" file="/courseware/progress_graph.js"/>

<%block name="pagetitle">${_("{course_number} Progress").format(course_number=course.display_number_with_default)}</%block>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
<script type="text/javascript" src="${static.url('js/courseware/certificates_api.js')}"></script>
<script type="text/javascript" src="${static.url('js/courseware/credit_progress.js')}"></script>
<script>
    ## This JavaScript is being HTML-escaped because it historically has, and it is not clear what
    ## the correct syntax is. For safety, maintain the previous behavior.
    ## xss-lint: disable=mako-invalid-js-filter
    ##${progress_graph.body(grade_summary, course.grade_cutoffs, "grade-detail-graph", not course.no_grade, not course.no_grade)}
</script>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="course-info" id="course-info-progress"
              % if getattr(course, 'language'):
                lang="${course.language}"
              % endif
              >
                % if staff_access and studio_url is not None:
                <div class="wrap-instructor-info">
                    <a class="instructor-info-action studio-view" href="${studio_url}">${_("View Grading in studio")}</a>
                </div>
                % endif
                
                ## oleg2106 hide title
                % if false:
                    <h2 class="hd hd-2 progress-certificates-title">
                        ${_("Course Progress for Student '{username}' ({email})").format(username=student.username, email=student.email)}
                    </h2>
                %endif

                <%
                    def range_backward(width):
                        width = int(width)
                        if width < 100:
                            return width - 1
                        return width
                
                    #backgrounds = ['#4fe696', '#ffdf7e', '#ffb657', '#ef54a1', '#fb336c']
                    backgrounds = ['#61d836', '#ffdf7e', '#ffb657', '#ef54a1', '#fb336c']
                    grade_sections = sorted(course.grade_cutoffs.items(), key=operator.itemgetter(1), reverse=True)
                    gs = []
                    width = 100
                    found = False
                    
                    #print grade_sections
                    for key, item in enumerate(grade_sections):
                        old_width = width
                        width = item[1] * 100
                        if item == grade_sections[:-1]:
                            range = '0 - %d' % (range_backward(width),)
                        else:
                            range = '%d - %d' % (width, range_backward(old_width))
                        gs.append({'name': item[0], 'marker': width, 'bg': backgrounds[key], 'range': range})

                        if not found:
                            if score_proc > width:
                                bg_earned = backgrounds[key]
                                found = True
                            else:
                                bg_earned = backgrounds[key + 1]
                                
                    #do we pass the exam?
                    ex_pass = False
                    if bg_earned != backgrounds[len(gs)]:
                        ex_pass = True
                    
                    # what to do with the last element?
                    range = '0 - %d' % (range_backward(width),)
                    gs.append({'name': 'Незачет', 'marker': False, 'bg': backgrounds[len(gs)], 'range': range})
                %>                

                <div class="digit-b">
                    <div class="digit-b-item-label">Набрано</div>
                    <div class="digit-b-item" style="color: ${bg_earned};">${score_proc}%</div>
                    % if ex_pass:
                        <div class="digit-b-pass" style="color: ${bg_earned};">${gs[0]['name'].upper()}</div>
                    %endif
                </div>
            
                <div class="row">
                    <br>
                   
                    <div class="col-md-12 text-left">
                        <div id="main-progress-bar-striped-version2">
                            <div class="grade-bar">
                                <ol class="increments">
                                <li class="increment-0">0</li>
                                <li class="increment-10">10%</li>
                                <li class="increment-20">20%</li>
                                <li class="increment-30">30%</li>
                                <li class="increment-40">40%</li>
                                <li class="increment-50">50%</li>
                                <li class="increment-60">60%</li>
                                <li class="increment-70">70%</li>
                                <li class="increment-80">80%</li>
                                <li class="increment-90">90%</li>
                                <li class="increment-100">100%</li>
                                </ol>
                            </div>
                            <div class="progress progress-striped" style="background: ${bg_earned};">
                                %for item in reversed(gs):
                                    %if item['marker'] and score_proc < item['marker']:
                                        <div class="progress-bar-marker" style="width: ${item['marker']}%;">
                                        </div>
                                    %endif
                                %endfor
                                <div id="main-progress-bar-version2" class="progress-bar progress-bar-info" role="progressbar"
                                    aria-valuenow="${score_proc}" aria-valuemin="0" aria-valuemax="100" style="width: ${reverse_score_proc}%">
                                </div>
                                
                            </div>
                            <div class="progress-legend pull-right">
                                %for item in reversed(gs):
                                    <div class="grade-legend">
                                        <div class="grade-legend-item" style="background: ${item['bg']};"></div>
                                        <span class="letter-grade">${item['name']}</span>
                                        <span class="range">(${item['range']})</span>
                                    </div>
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
                
                
                ##%if certificate_data:
                ##oleg2106 we don't use it
                %if false:
                <div class="wrapper-msg wrapper-auto-cert">
                    <div id="errors-info" class="errors-info"></div>
                    %if passed:
                    <div class="auto-cert-message" id="course-success">
                        <div class="has-actions">
                            <% post_url = reverse('generate_user_cert', args=[unicode(course.id)]) %>
                            <div class="msg-content">
                                <h4 class="hd hd-4 title">${certificate_data.title}</h4>
                                <p class="copy">${certificate_data.msg}</p>
                            </div>
                            <div class="msg-actions">
                                %if certificate_data.cert_web_view_url:
                                <a class="btn" href="${certificate_data.cert_web_view_url}" target="_blank">${_("View Certificate")} <span class="sr">${_("Opens in a new browser window")}</span></a>
                                %elif certificate_data.cert_status == CertificateStatuses.downloadable and certificate_data.download_url:
                                <a class="btn" href="${certificate_data.download_url}" target="_blank">${_("Download Your Certificate")} <span class="sr">${_("Opens in a new browser window")}</span></a>
                                %elif certificate_data.cert_status == CertificateStatuses.requesting:
                                <button class="btn generate_certs" data-endpoint="${post_url}" id="btn_generate_cert">${_('Request Certificate')}</button>
                                %endif
                            </div>
                        </div>
                    </div>
                    %endif
                </div>
                %endif

                ## oleg2106 hide graph
                %if false:
                    %if not course.disable_progress_graph:
                        <div class="grade-detail-graph" id="grade-detail-graph"></div>
                    %endif
                %endif

                % if credit_course_requirements:
                <section class="credit-eligibility">
                    <h3 class="hd hd-4 eligibility-heading">${_("Requirements for Course Credit")}</h3>
                    <div class="credit-eligibility-container">
                        %if credit_course_requirements['eligibility_status'] == 'not_eligible':
                        <span class="eligibility_msg">${_("{student_name}, you are no longer eligible for credit in this course.").format(student_name=student.profile.name)}</span>
                        %elif credit_course_requirements['eligibility_status'] == 'eligible':
                        <span class="eligibility_msg">
                            ${Text(_("{student_name}, you have met the requirements for credit in this course. {a_start}Go to your dashboard{a_end} to purchase course credit.")).format(
                                student_name=student.profile.name,
                                a_start=HTML("<a href={url}>").format(url=reverse('dashboard')),
                                a_end=HTML("</a>")
                            )}
                        </span>
                        %elif credit_course_requirements['eligibility_status'] == 'partial_eligible':
                        <span>${_("{student_name}, you have not yet met the requirements for credit.").format(student_name=student.profile.name)}</span>
                        %endif

                        <a href="${settings.CREDIT_HELP_LINK_URL}" class="credit-help">
                            <span class="fa fa-question" aria-hidden="true"></span>
                            <span class="sr">${_("Information about course credit requirements")}</span>
                        </a><br />

                        <div class="requirement-container" data-eligible="${credit_course_requirements['eligibility_status']}">
                            %for requirement in credit_course_requirements['requirements']:
                            <div class="requirement">
                                <div class="requirement-name">
                                    ${_(requirement['display_name'])}
                                    %if requirement['namespace'] == 'grade':
                                    <span>${int(requirement['criteria']['min_grade'] * 100)}%</span>
                                    %endif
                                </div>
                                <div class="requirement-status">
                                    %if requirement['status']:
                                        %if requirement['status'] == 'submitted':
                                        <span class="requirement-submitted">${_("Verification Submitted")}</span>
                                        %elif requirement['status'] == 'failed':
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                        <span>${_("Verification Failed" )}</span>
                                        %elif requirement['status'] == 'declined':
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                        <span>${_("Verification Declined" )}</span>
                                        %elif requirement['status'] == 'satisfied':
                                        <span class="fa fa-check" aria-hidden="true"></span>
                                        <span class="localized-datetime" data-datetime="${requirement['status_date']}" data-string="${_('Completed by {date}')}" data-timezone="${user_timezone}" data-language="${user_language}"></span>
                                        %endif
                                    %else:
                                    <span class="not-achieve">${_("Upcoming")}</span>
                                    %endif
                                </div>
                            </div>
                            %endfor
                        </div>
                        <button class="detail-collapse">
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                            <span class="requirement-detail">${_("Less")}</span>
                        </button>
                    </div>
                </section>
                %endif

                %if courseware_summary:
                <%
                course_chapters = []
                for ch in course.children:
                    course_chapters.append(ch.to_deprecated_string())
                %>
                <section class="chapters">
                    %for chapter in courseware_summary:
                        %if not chapter['display_name'] == "hidden":
                            <%
                            show_section    = False
                            chapter_percent = 0
                            chapter_weight  = 0
                            progress_sections = {}
                            for section in chapter['sections']:
                                if len(section.problem_scores.values()) > 0:
                                    show_section = True
                                    
                                    #let's count total weight and save weightes
                                    if section.format is not None and section.format in grade_summary['grade_breakdown']:
                                        _section_percent = 100*float(grade_summary['grade_breakdown'][section.format]['percent'])
                                        _section_weight  = 100*float(grade_summary['grade_breakdown'][section.format]['weight'])
                                        chapter_percent += _section_percent
                                        chapter_weight  += _section_weight
                                        progress_sections[section.url_name] = {'percent': _section_percent, 'weight': _section_weight}
                                        
                            # check the appeal
                            appeal = False
                            if chapter['display_name'].strip().lower() == u"апелляция":
                                appeal = True
                            %>

                            %if show_section:
                                <div class="chapter_item">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="chapter_item_box chapter_title" id="chapter_${loop.index}">
                                                <%
                                                chapter_id = ''
                                                ##findit = 'block@%s' % chapter['url_name']
                                                for ch in course_chapters:
                                                    if ch.endswith(chapter['url_name']):
                                                        chapter_id = ch
                                                        break
                                                %>
                                                %if chapter_id:
                                                    <a href="${course_url}#${chapter_id}">${chapter['display_name']}</a>
                                                %else:
                                                    ${chapter['display_name']}
                                                %endif
                                                
                                                %if not appeal:
                                                    <input type="checkbox" id="box_${loop.index}">
                                                    <label for="box_${loop.index}"></label>
                                                    <div class="chapter_score">
                                                        %if chapter_weight:
                                                            ${("Набрано {earned}% из {total}%").format(earned='{:.3n}'.format(chapter_percent), total='{:.3n}'.format(chapter_weight)) | h}
                                                        %endif
                                                    </div>
                                                    <div class="sections progress_subsections">
                                                        %for section in chapter['sections']:
                                                            <div class="row">
                                                                <%
                                                                earned = section.all_total.earned
                                                                total = section.all_total.possible
                                                                percentageString = "{0:.0%}".format( float(earned)/total) if earned > 0 and total > 0 else ""
                                                                %>
                                                                %if len(section.problem_scores.values()) > 0:
                                                                    <div class="col-12 ml-sm-auto col-sm-9">
                                                                        <div class="progress_subsection_name">
                                                                            ${ section.display_name}
                                                                        </div>
                                                                        <div class="progress_subsection_result">
                                                                            %if section.show_grades(staff_access):                                                                
                                                                            <dl class="scores">
                                                                                %for score in section.problem_scores.values():
                                                                                    <dd>${"{0:.3n}/{1:.3n}".format(float(score.earned),float(score.possible))}</dd>
                                                                                %endfor
                                                                            </dl>
                                                                            %else:
                                                                                <p class="hide-scores">
                                                                                %if section.show_correctness == 'past_due':
                                                                                    %if section.graded:
                                                                                    ${_("Problem scores are hidden until the due date.")}
                                                                                    %else:
                                                                                    ${_("Practice scores are hidden until the due date.")}
                                                                                    %endif
                                                                                %else:
                                                                                    %if section.graded:
                                                                                    ${_("Problem scores are hidden.")}
                                                                                    %else:
                                                                                    ${_("Practice scores are hidden.")}
                                                                                    %endif
                                                                                %endif
                                                                                </p>
                                                                            %endif
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 ml-sm-auto col-sm-3">
                                                                        %if section.format is not None and section.url_name in progress_sections:
                                                                            ${("{earned}% из {total}%").format(earned='{:.3n}'.format(progress_sections[section.url_name]['percent']), 
                                                                                                            total='{:.3n}'.format(progress_sections[section.url_name]['weight'])) | h}
                                                                        %endif
                                                                    </div>                                                                
                                                                %endif
                                                            </div>
                                                        %endfor
                                                    </div>
                                                %elif chapter_percent:
                                                    <div class="chapter_score">
                                                        ${("{earned}%").format(earned='{:.3n}'.format(chapter_percent)) | h}
                                                    </div>                                                    
                                                %endif
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            %endif
                        %endif
                    %endfor
                </section>
                %endif
            </section>
        </div>
    </div>
</main>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>
