## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>


<div class="container-fluid wrapper-footer">
<footer>
    <div class="row justify-content-center">
        <div class="col-12 text-center banners">
            <a href="http://olimpiada.ru/">
                <img class="footer_banner olimpiada_banner" src="${static.url('images/olimpiada-logo.svg')}" title="olimpiada.ru">
            </a>
            <a href="http://vos.olimpiada.ru/">
                <img class="footer_banner" src="${static.url('images/banner_vos.jpg')}" title="Всероссийская олимпиада в Москве">
            </a>
            <a href="http://mos.olimpiada.ru/">
                <img class="footer_banner" src="${static.url('images/banner_mos.jpg')}" title="Московская олимпиада школьников">
            </a>
        </div>    
    <div class="footer-content">
        <nav class="navbar site-nav navbar-toggleable-sm navbar-light" aria-label="${_('About')}">
        <ul class="navbar-nav">
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
            <li class="nav-item">
                <a class="nav-link" href="${link['url']}">${link['title']}</a>
            </li>
            % endfor
        </ul>
        </nav>

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']}</p>
    </div>
    </div>
</footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="widgets/cookie-consent.html" />
% endif
